/Cliente.class
/Main.class
/MyPackageClass.class
/Seguradora.class
/Sinistro.class
/Veiculo.class
/CalcSeguro.class
/ClientePF.class
/ClientePJ.class
/Main$Menu.class
/MenuOperacoes.class
/Validacao.class
